
    body{font-size:12px; min-width:320px; font-family:"Helvetica"; font-weight:normal; line-height:1.5;background: #fff;}
    html,body,h1,h2,h3,p,div,ul,li,span,em,dl,dt,dd{margin:0;padding:0;}
    ul,li{list-style:none;}
    html,body,img{border:0;}
    em{font-style:normal;}
    h1,h2,h3,strong,em,i{ font-style:normal; font-weight:normal;}
    a,a:hover{text-decoration:none;}
    .clearfix:after{clear:both; content:''; font-size:0; display:block; visibility:hidden; height:0}
    .container{width:100%;}
    textarea,input,button,select{ outline:none; border:0;}
    textarea{resize:none;}
    .bd{ font-weight:bold;}
    .wd100{ display:block; width:100%;}
    /*定位*/
    .fl{ float:left;}
    .fr{ float:right;}
    .Ndisplay{ display:none;}
    /*字体颜色*/
    .ftfff{ color:#fff;}
    .ftred{ color:#fa2b5c;}
    .ftgrey{ color:#bfbfbf;}
    /*字号大小*/
    .ft07{ font-size:0.7rem;}
    .ft08{ font-size:0.8rem;}
    .ft09{ font-size:0.9rem;}
    .ft12{ font-size:1.2rem;}
    /*背景颜色*/
    .bgd5{ background:#d5d5d5;}
    /*间距*/
    .pd10{ padding:10px;}
    .pt5{ padding-top:5px;}
    .mr10{ margin-right:10px;}
    .mr8{ margin-right:8px;}
    .mt5{ margin-top:5px;}
    .mb5{ margin-bottom:5px;}
    .mt10{ margin-top:10px;}
    .mt18{ margin-top:18px;}
    .mt30{ margin-top:30px;}
    /*内容区*/
    .box{ padding-left:130px; height:120px; position:relative;}
    .box .pic,.box .empty{ width:120px; position:absolute; left:0; top:0;}
    .box .empty{ z-index:3; background:rgba(0,0,0,0.5)}
    .con{ position:relative;}
    .con h2{overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:1rem;}
    .duanMa{ height:40px;}
    .duanMa span{ display:inline-block; padding:0 6px; border-radius:1px; font-size:12px;}
    .btn{  position:absolute; right:0px; }
    @media screen and (min-width:320px) and (max-width:359px)
    {
        .btn{width:65px; bottom:2px;}
    }
    @media screen and (min-width:360px)
    {
        .btn{width:80px; bottom:2px;}
    }
    @media screen and (min-width:320px) and (max-width:359px)
    {

        .fubiao{ top:11%;}

    }
    @media screen and (min-width:360px) and (max-width:413px)
    {

        .fubiao{ top:13%;}

    }
    @media screen and (min-width:414px) and (max-width:500px)
    {

        .fubiao{ top:16%;}

    }
    @media screen and (min-width:501px)
    {

        .fubiao{ top:30%;}


    }
    .num{ width:16px; height:34px; background:#fff; position:
            absolute; left:1px;top:1px; text-align:center; z-index:3;}
    .mark{ width:20px; position:absolute; left:-5px; top:-8px;}
    .fubiao{ width:60px; position:fixed; right:10px;}
    .banner-cl{
        position: relative;}
    .fenxiang{
        position: absolute;
        top:10px;
        right:10px;
        width:34px;
    }
    /*分享*/
    .layer{ position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6); z-index:190;}
    .layer.z_big{ z-index:220;}
    .Ndisplay{ display:none;}
    .share_content{ position:fixed; text-align: center; bottom:0; left:0; width:100%; padding:30px 0; background:#FFF; z-index:300;}
    .share_content .close{ position:absolute; top:3px; right:3px; width:20px; height:20px;}
    .share_content a{ width:17%; margin:0 4%; line-height:14px; display:inline-block; text-align:center; float:left;}
    .share_content a img{ width:85%; display:inline-block;}
    .share_content a span{ color:#5c5253; display:block;}